html {
    font-size: 62.5%; }
  
body {
    font-family: 'Lato';
    color: #5a5a5a;
    font-size: 1.4rem;
    position: relative;
    max-width: 192.0rem;
    margin: 0 auto; 
}

* {
    box-sizing: border-box;
    
    border: 1px solid orangered;
}

:root {
    --first-color: #22e8b3;
    --second-color: #5c33d4; 
    --second-color-darken: #251e5d;
    --font-color: #474747;
}

figure {
    padding: 0;
    padding: 0;
    margin: 0; 
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: block; 
}

input {
    outline: none;
    border: none; 
}

a {
    text-decoration: none;
    color: black; 
}

h1, h2, h3, p, blockquote {
    margin: 0; 
}

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay {
    /* background-color: #f7941d; */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.35; 
}
  